.calendar li {
    width: 14%;
    display: block;
    float: left;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.calendar ul {
    width: 98%;
    margin: 0;
    padding: 0;
}
.calendar ul li a, .calendar ul li span {
    display: block;
    width: 100%;
    height: 100%;
}

.calendar .header {
    text-align: center;
}
.calendar .header a {
    display: inline;
    float: none;
    width: auto;
}

.calendar .day-1.mon { margin-left: 0%; }
.calendar .day-1.tue { margin-left: 14%; }
.calendar .day-1.wed { margin-left: 28%; }
.calendar .day-1.thu { margin-left: 42%; }
.calendar .day-1.fri { margin-left: 56%; }
.calendar .day-1.sat { margin-left: 70%; }
.calendar .day-1.sun { margin-left: 84%; }

.calendar.september .day-31,
.calendar.april .day-31,
.calendar.june .day-31,
.calendar.november .day-31 {
    display: none;
}

.calendar.february .day-29,
.calendar.february .day-30,
.calendar.february .day-31 {
    display: none;
}
.calendar.february.leap-year .day-29 {
    display: block;
}

.calendar .sun, .calendar .sat {
    background: #f2dede;
}

.calendar .today,
.calendar.day-1 .day-1, .calendar.day-2 .day-2, .calendar.day-3 .day-3, .calendar.day-4 .day-4, .calendar.day-5 .day-5,
.calendar.day-6 .day-6, .calendar.day-7 .day-7, .calendar.day-8 .day-8, .calendar.day-9 .day-9, .calendar.day-10 .day-10,
.calendar.day-11 .day-11, .calendar.day-12 .day-12, .calendar.day-13 .day-13, .calendar.day-14 .day-14, .calendar.day-15 .day-15,
.calendar.day-16 .day-16, .calendar.day-17 .day-17, .calendar.day-18 .day-18, .calendar.day-19 .day-19, .calendar.day-20 .day-20,
.calendar.day-21 .day-21, .calendar.day-22 .day-22, .calendar.day-23 .day-23, .calendar.day-24 .day-24, .calendar.day-25 .day-25,
.calendar.day-26 .day-26, .calendar.day-27 .day-27, .calendar.day-28 .day-28, .calendar.day-29 .day-29, .calendar.day-30 .day-30,
.calendar.day-31 .day-31
{
    font-weight: bold;
    background: #d4d4d4;
}

