        </main>
        <footer class="page-footer light-green darken-1">
            <div class="container">
                <div class="row">
                    <div class="col hide-on-small-only m2 valign-wrapper">
                        <img src="/static/images/photo.jpg" style="" class="photo responsive-img circle valign" />
                    </div>
                    <div class="col m10 l6">
                        <h5 class="white-text">Author</h5>
                        <p class="white-text">
                        Konstantin Stepanov<br />
                        Professional software developer since 2003 from Minsk, Belarus.<br />
                        Now works at <a class="white-text" href="http://www.adform.com">Adform</a>.
                        Writes professinally in Scala, hobby language is <a class="white-text" href="http://rust-lang.org">Rust</a>.<br />
                        Blogs in Russian and English.<br />
                        Email: <a class="white-text" href="mailto:me@kstep.me">me@kstep.me</a>.
                        </p>
                    </div>
                    <div class="col m12 l4 social-links">
                        <h5 class="white-text">Links</h5>
                        <div class="col s12 m3 l6">
                        <ul>
                            <li><a class="white-text" href="https://twitter.com/kstepme"><nobr><img src="https://twitter.com/favicon.ico" />Twitter</nobr></a></li>
                            <li><a class="white-text" href="http://www.linkedin.com/pub/konstantin-stepanov/54/47/450"><nobr><img src="http://www.linkedin.com/favicon.ico" />LinkedIn</nobr></a></li>
                            <li><a class="white-text" href="http://kstepme.moikrug.ru/"><nobr><img src="http://moikrug.ru/favicon.ico" />Мой Круг</nobr></a></li>
                            <li><a class="white-text" href="http://welinux.ru/user/kstep/"><nobr><img src="http://welinux.ru/favicon.ico" />WeLinux</nobr></a></li>
                        </ul>
                        </div>
                        <div class="col s12 m3 l6">
                        <ul>
                            <li><a class="white-text" href="https://github.com/kstep"><nobr><img src="http://github.com/favicon.ico" />Github</nobr></a></li>
                            <li><a class="white-text" href="http://www.ohloh.net/accounts/kstep"><nobr><img src="http://www.ohloh.net/favicon.ico" />Ohloh</nobr></a></li>
                            <li><a class="white-text" href="http://search.cpan.org/~kstepme/"><nobr><img src="http://search.cpan.org/favicon.ico" />CPAN</nobr></a></li>
                            <li><a class="white-text" href="http://habrahabr.ru/users/kstep/"><nobr><img src="http://habrahabr.ru/favicon.ico" />Habrahabr</nobr></a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="container">
                    &copy; <a href="https://github.com/kstep/kstep.github.com" class="white-text">2009&ndash;2016</a> Konstantin Stepanov
                    <div class="right">
                        <a href="https://travis-ci.org/kstep/kstep.github.com"><img style="vertical-align: middle;" src="https://travis-ci.org/kstep/kstep.github.com.svg?branch=master" /></a>
                    </div>
                </div>
            </div>
        </footer>

        {% include "_layouts/trackers.liquid" %}

    </body>
</html>
