<!DOCTYPE html>
<html lang="en" ng-app="kstep" ng-controller="RootCtl" manifest="/manifest-000000.appcache">
    <head>
        <meta charset="utf-8" />
        <title ng-bind="page.title | strip_tags">//kstep blog</title>
        <meta name="description" content="K's blog on life and development" />
        <meta name="author" content="Konstantin Stepanov" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="url" content="http://kstep.me/sitemap.xml" />
        <meta name="fragment" content="!" />

        <link rel="alternate" type="application/atom+xml" title="RSS Feed" href="/feed.xml" />

        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.0/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/pygmentize-default.css" rel="stylesheet" type="text/css" />
        <link href="/css/calendar.css" rel="stylesheet" type="text/css" />
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <header class="navbar navbar-fixed-top ng-cloak">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <a class="brand" href="/#!/" ng-class="{ loading: $loading }">//kstep</a>

                    <div class="btn-group pull-right">
                        <button ng-click="locales('en')" ng-class="{ active: locale.lang == 'en' }" class="btn">en</button>
                        <button ng-click="locales('ru')" ng-class="{ active: locale.lang == 'ru' }" class="btn">ru</button>
                    </div>

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{: locale.in_social_networks :} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="acc in social_accounts"><a target="_blank" ng-href="{: acc.url :}"><img class="favicon" ng-src="{: acc.icon :}" /> {: acc.name :}</a></li>
                                </ul>
                            </li>
                            <li><span class="navbar-text" ng-bind="locale.or"></span></li>
                            <li><a ng-href="{: 'znvygb:zr@xfgrc.zr' | rot13 :}" title="{: locale.no_spam_please :}">{: locale.email_me :}</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li ng-class="{ active: page.group == 'tags' }"><a title="{: locale.tags_hint :}" href="/#!/tags" ng-bind="locale.tags | lower"></a></li>
                            <li><a target="_blank" href="/tests" title="{: locale.tests_hint :}" rel="nofollow" ng-bind="locale.tests"></a></li>
                            <li class="divider-vertical"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div class="modal-backdrop ng-cloak" ng-show="$loading"></div>
        <div ng-show="$loading" id="loading-indicator" ng-bind="locale.loading" class="ng-cloak"></div>

        <noscript>
            <div class="container">
                <h1>Hello!</h1>
                <p>I'm sorry, but you <strong>have</strong> to enable JavaScript to view my site.</p>
                <p>I know, I know, JS dependency makes my site not-so-accessible, but hey, we live in 21st century!</p>
                <p>So why bother? Just turn your JavaScript on and enjoy.</p>
                <p><strong>Sidenote:</strong> if you have to browse web with something like Lynx, well, I'm sorry for you. Maybe I will add no-JS browsers support in the future, though it's unlikely.</p>
            </div>
        </noscript>

        <div class="container ng-cloak" id="content">
            <div class="alert alert-info" ng-show="update_available">
                <button ng-click="update_available = false" class="close">&times;</button>
                <p>{: locale.update_available :}</p>
                <p>
                    <button ng-click="reload_site()" class="btn btn-primary" ng-bind="locale.reload"></button>
                    <button ng-click="update_available = false" class="btn btn-link" ng-bind="locale.cancel"></button>
                </p>
            </div>

            <div class="row">
                <div class="content span9" ng-view></div>
                <div class="span3">
                    <div class="calendar" ng-class="[month, leap_year && 'leap-year' || '']">
                        <div class="header">
                            <h5 class="clearfix">
                                <a style="float: left;" ng-click="date.month = date.month - 1">←</a>
                                <a style="float: right;" ng-click="date.month = date.month + 1">→</a>
                                <a ng-href="/#!/{: date.year :}/{: date.month | lpad:2 :}">{: locale[month] | caps :}</a> <a ng-href="/#!/{: date.year :}">{: date.year :}</a>
                            </h5>
                            <ul>
                                <li>{: locale.mon :}</li><li>{: locale.tue :}</li><li>{: locale.wed :}</li><li>{: locale.thu :}</li><li>{: locale.fri :}</li>
                                <li>{: locale.sat :}</li><li>{: locale.sun :}</li>
                            </ul>
                        </div>
                        <ul class="clearfix">
                            <li ng-repeat="day in days" ng-class="['day-'+day, weekday(day), is_today(day) && 'today' || '']" ng-switch="how_many_posts(day)">
                                <span class="muted" ng-switch-when="0">{: day :}</span>
                                <a title="{: how_many_posts(day) :}" ng-href="/#!/{: date.year :}/{: date.month | lpad:2 :}/{: day | lpad:2 :}" ng-switch-default>{: day :}</a>
                            </li>
                        </ul>
                        <div class="header">
                            <a ng-hide="are_equal(date, today)" ng-click="date = today">← {: locale.today :}</a>
                        </div>
                    </div>

                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/kstepme" data-widget-id="272776746049339393">Tweets by @kstepme</a>
                    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
                </div>
            </div>
        </div> <!-- /container -->

        <footer class="navbar navbar-fixed-bottom ng-cloak">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><span class="navbar-text">{: locale.signature :} 2012</span></li>
                    </ul>
                    <ul class="nav pull-right social-icons">
                        <li ng-repeat="acc in social_accounts"><a target="_blank" ng-href="{: acc.url :}" title="{: acc.name :}"><img class="favicon" ng-src="{: acc.icon :}" alt="{: acc.name :}" /></a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <a class="totop ng-cloak">↑</a>

        <!--[if lt IE 9]>
        <script src="http:http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-cookies.min.js"></script>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.0/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/js/application-min.js"></script>
    </body>
</html>

