<h4>Comments</h4>
<div id="disqus"></div>
<script>
window.disqus_identifier = "{{ path }}";
window.disqus_url = "http://kstep.me/{{ path }}";
window.disqus_container_id = "disqus";
</script>
<script src="http://kstep.disqus.com/embed.js"></script>
