<div class="card">
    <div class="card-content">
        <span class="card-title">Comments</span>
        <div id="disqus"></div>
    </div>
</div>
<script>
window.disqus_identifier = "{{ path }}";
window.disqus_url = "http://kstep.me/{{ path }}";
window.disqus_container_id = "disqus";
</script>
<script src="http://kstep.disqus.com/embed.js"></script>
