@font-face {
    font-family: emoji;
    src: url(/static/fonts/noto/NotoColorEmoji.ttf),
         url(/static/fonts/noto/NotoColorEmoji.woff),
         url(/static/fonts/noto/NotoColorEmoji.svg),
         url(/static/fonts/noto/NotoColorEmoji.eot);
}

@media only screen and (max-width: 600px) {
    main img {
        max-width: 111%;
        margin: 0 -20px;
    }
}

@media only screen and (max-width: 1360px) {
    footer img.photo {
        margin-top: 3.2em;
    }
}

a {
    cursor: pointer !important;
    cursor: hand !important;
}

.chip i.material-icons {
    padding-left: 0;
    padding-right: 8px;
    float: left;
}

label i.material-icons {
    font-size: inherit;
    vertical-align: -2px;
    margin-right: 5px;
}

label {
    margin-right: 0.5em;
}

.chip a {
    color: inherit;
    text-decoration: underline;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

main ul {
    padding-left: 40px;
    list-style-type: disc;
}

main ul li {
    list-style-type: disc;
}

main .card .card-content .card-title {
    line-height: 1.4em;
}

.social-links img {
    width: 16px;
    height: 16px;
    vertical-align: baseline;
    margin-right: 8px;
    background: white;
}

footer a {
    text-decoration: underline;
}

.emoji {
    font-family: emoji;
}
