<script>window.location='/#!{{ page.url }}'</script>
<ng-meta name="page" update="{
    'title': '{{ page.title | replace: "'", "\\'" }}',
    'date' : '{{ page.date | date:"%Y-%m-%d" }}',
    'tags' : [{% for tag in page.tags %}'{{ tag | replace: "'", "\\'" }}'{% unless forloop.last %},{% endunless %}{% endfor %}]
}"></ng-meta>
<h1>
    {{ page.title }} <small><nobr ng-bind="page.date | asdate:locale.date_format" class="published">{{ page.date | date:"%Y-%m-%d" }}</nobr></small>
</h1>

{{ content }}

<p class="clearfix tags">
    {% for tag in page.tags %}<a href="/#!/tag/{{ tag }}" class="tag badge" rel="tag">{{ tag }}</a>{% endfor %}
</p>
